<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title></title>
    <script src="../js/mui.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
    <script src="../js/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<script type="text/x-template" id="app-template">
    <v-app>
        <div>
            <v-toolbar fixed>
                <v-btn icon @click="back">
                    <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
                <v-toolbar-title>Message</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu left bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                                icon
                                v-bind="attrs"
                                v-on="on"
                                depressed>
                            <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                    </template>

                    <v-list>
                        <v-list-item @click="() => {this.readonly = false;this.confirm = true;this.edit = true}">
                            <v-list-item-title>Edit</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="dialog = true">
                            <v-list-item-title>Delete</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-toolbar>
            <v-card class="form-card" style="margin: 8px;display: inline-block">
                <v-form ref="form" lazy-validation>
                    <v-text-field
                            v-model="title"
                            label="Title"
                            :rules="titleRules"
                            style="margin: 5px"
                            required
                            :readonly="readonly">
                    </v-text-field>
                    <v-textarea
                            v-model="content"
                            label="Content"
                            :rules="contentRules"
                            style="margin: 5px"
                            required
                            :readonly="readonly">
                    </v-textarea>
                </v-form>
            </v-card>
            <v-row style="margin: 8px" v-show="confirm">
                <v-col cols="12" style="padding: 0">
                    <v-btn color="primary" style="width: calc(100% - 8px)" @click="saveMessage">
                        Confirm
                    </v-btn>
                </v-col>
            </v-row>
        </div>
        <v-dialog
                v-model="dialog"
                persistent
                max-width="290">
            <v-card>
                <v-card-title class="headline">
                    Delete Message
                </v-card-title>
                <v-card-text>Are you sure you want to delete this message?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn depressed color="error" @click="deleteMessage">
                        Confirm
                    </v-btn>
                    <v-btn depressed @click="dialog = false">
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</script>
<div id="app"></div>
<script>
    const App = {
        template: '#app-template',
        data: () => ({
            id: '',
            title: '',
            content: '',
            readonly: false,
            edit: false,
            confirm: true,
            dialog: false,
            titleRules: [
                v => !!v || 'Title is required'
            ],
            contentRules: [
                v => !!v || 'Content is required'
            ]
        }),
        methods: {
            back() {
                window.history.go(-1);
            },
            saveMessage() {
                if (this.$refs.form.validate()) {
                    if (!this.edit) {
                        var id = Utils.createId();
                        var title = this.title;
                        var content = this.content;
                        var message = {"id": id, "title": title, "content": content};
                        var messages = Utils.getData("messages");
                        if (messages == null) {
                            var messageArr = new Array();
                            messageArr.push(message);
                            Utils.saveData("messages", messageArr);
                        } else {
                            messages.push(message);
                            Utils.saveData("messages", messages);
                        }
                    } else {
                        var id = Utils.getParam("id");
                        var title = this.title;
                        var content = this.content;
                        var message = {"id": id, "title": title, "content": content};
                        var messages = Utils.getData("messages");
                        var deleteIndex = messages.findIndex(item => item.id == id);
                        messages.splice(deleteIndex, 1);
                        messages.splice(deleteIndex, 0, message);
                        Utils.saveData("messages", messages);
                    }
                    window.location.href = "../index.html";
                }
            },
            getMessage() {
                var type = Utils.getParam("type");
                if (type == "readonly") {
                    this.confirm = false;
                    var id = Utils.getParam("id");
                    var messages = Utils.getData("messages");
                    var message = messages.filter(item => item.id == id)[0];
                    this.title = message.title;
                    this.content = message.content;
                }
            },
            deleteMessage() {
                var id = Utils.getParam("id");
                var messages = Utils.getData("messages");
                var deleteIndex = messages.findIndex(item => item.id == id);
                messages.splice(deleteIndex, 1);
                Utils.saveData("messages", messages);
                window.location.href = "../index.html"
            }
        },
        created() {
            this.getMessage();
        }
    }

    new Vue({
        vuetify: new Vuetify(),
        render: h => h(App)
    }).$mount('#app')
</script>
</body>
<style>
    .form-card {
        width: calc(100% - 16px);
    }
</style>
</html>
